<head>
	<title>hackathon2012</title>
	<link href="/screen.css" rel="stylesheet" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<script>
		$(document).ready(function(){
			$("#match").click(function () {
				$("#nogamepanel").hide();
				$("#showngamepanel").fadeIn("slow");
			});
		});
	</script>

</head>

<body>
	{{> main}}
</body>
<template name="main">
	{{#if userLoggedIn}}
		{{#if inGame}}
			{{> games}}
		{{/if}}
		{{#unless inGame}}
			{{> dashboard}}
		{{/unless}}}
	{{/if}}
	{{#unless userLoggedIn}}
		{{#if showRegister}}
			{{> registration}}
		{{/if}}
		{{#unless showRegister}}
			{{> loginPage}}
		{{/unless}}
	{{/unless}}
</template>
<template name="dashboard">
<img src="/images/fb.png" >
	<div>
		<div class="scoreboardpanel">
			{{> scoreboard}}
		</div>
		<div class="statpanel">
			{{> userList}}
		</div>
		<div class="statpanel">
			{{> challengeList}}
		</div>
	</div>
</template>
<template name="challengeList">
	<ul class="list " >
		{{#each challenges}}
		<li class="challenges" data-id="{{_id}}">
			<p>{{from.name}} just challenged you!</p>
			<input type="button" data-id="{{_id}}" class="approve" value="Accept" />
			<input type="button" data-id="{{_id}}" class="deny" value="Deny" />
		</li>
		{{/each}}
	</ul>
</template>
<template name="scoreboard">
	{{#each games}}
		<div class="matchpanel">
			<table class="winner{{winner}}">
				<tr class="team1">
					<td>{{team1.points}}</td>
					<td style="width:10px;">&nbsp;</td>
					<td>{{team1.users.0.name}}</td>
					<td style="width:10px;">&nbsp;</td>
					<td valign="center" rowspan="2">{{gameStatus}}</td>
				</tr>
				<tr class="team2">
					<td>{{team2.points}}</td>
					<td style="width:10px;">&nbsp;</td>
					<td>{{team2.users.0.name}}</td>
					<td style="width:10px;">&nbsp;</td>
				</tr>
			</table>
		</div>
	{{/each}}
</template>

<template name="userList">
	<ul>
		{{#each users}}
			<li class="user">
			<input type="button" value="Challenge - {{name}}" class="challenge" data-id="{{_id}}">
			</li>
		{{/each}}
	</ul>
</template>



<template name="games">

</template>




<template name="loginPage">
	<div>
	<span class="title">Hackathon 2012 - Foosbuntu</span>
	<br>
		<form class="login">
			<table class="RegForm">
				<tr>
					<td><label for="username">User Name: </label></td>
					<td><input type='text' name="username" id="username" /></td>
				</tr>
				<tr>
					<td><label for="passwd">Password: </label></td>
					<td><input type='password' name="passwd" id="passwd" /></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Login" class="regButton" />
		</form>
		<a href="#" class="toRegister">No Account? Register!</a>
	</div>
</template>
<template name="registration">
	<div>
	<span class="title">Hackathon 2012 - Foosbuntu</span>
		<form class="register">
			<table class="RegForm">
				<tr>
					<td><label for="username">User Name: </label></td>
					<td><input type='text' name="username" id="username" /></td>
				</tr>
				<tr>
					<td><label for="realName">Full Name: </label></td>
					<td><input type='text' name="realName" id="realName" /></td>
				</tr>
				<tr>
					<td><label for="passwd">Password: </label></td>
					<td><input type='password' name="passwd" id="passwd" /></td>
				</tr>
			</table>
			<br>
			<input type="submit" value="Register" class="regButton" />
		</form>
		<a href="#" class="toSignin">Have an Account? Log In!</a>
	</div>
</template>
